@media screen and (max-width: 1000px) {
  .global-container {
    grid-template-columns: 1fr;
  }
  .side-nav {
    display: none;
  }
  .main-content {
    grid-column: 1;
  }
}

@media screen and (max-width: 700px) {
  .table {
    display: block;
  }
  .table-title {
    display: none;
  }
  .container-img {
    justify-content: center;
  }
  .table-item {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr;
    grid-auto-rows: 55px;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
  }
}
